@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@700&family=Inter:wght@400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(to bottom, #4DB2FA, #002BEA);

    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container {
    text-align: center;
}

#cpf-display {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: clamp(32px, 10vw, 120px);
    /* mín: 32px, ideal: 10vw, máx: 120px */
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

button {
    width: 120px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border-radius: 100px;
    cursor: pointer;
    margin: 0 8px;
    transition: all 0.2s ease;
}

#btn-copy {
    background-color: #F0FFF2;
    color: #3157FE;
    border: none;
}

#btn-copy:hover {
    opacity: 0.9;
}

#btn-generate {
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #F0FFF2;
}

#btn-generate:hover {
    background-color: rgba(255, 255, 255, 0.1);
}